.container{
    border: 3px black solid;
    background-color: rgb(201, 186, 186);
    color: black;
    width: 600px;
    height:750px ;
    
}

.container h1{
    text-align: center;
}

main{
    display: flex;
    justify-content: center;
}

